<body style='background-color: RGB(109, 207, 246);'>
<h1 class="title">우당탕탕 미로 대탈출</h1>
<div class='container'>
    <!--<a href='/state1' style=' color: (internal value);'>LV_1</a> </br>-->
    <!--<a href='/state2' style=' color: (internal value);'>LV_2</a>-->
    <button class="lionbutton" onclick="window.location.href='https://mazelion-yoondonghwan.c9users.io/index.html'">Level 1</button>
    <button class="lionbutton" onclick="window.location.href='https://mazelion-yoondonghwan.c9users.io/index1.html'" />Level 2</button>
</div>
</body>