canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* <https://caniuse.com/#feat=object-fit> */
}
.game{
    max-width: 900px;
}
.cursor{
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    height: 3rem;
    width: 5rem;
}
.space{
    margin-right: 5rem;
}
.key{
    max-width: 900px;
}